/* Réinitialisation simple */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}


body{
    background-color: lightblue;
}

.form{
    background-color: white;
    display: flex;
    justify-content: center;
    margin-top: 400px;
    margin-left: 800px;
    margin-right: 800px;
}

.error-border {
  border: 1px solid red;
}